/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,sans-serif;
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #EEE;
}

::-webkit-scrollbar-thumb {
    background-color: #ca38fe;
}

/* Header */

.content {
    position: relative;
    min-height: 91%;
    background-image: url(http://51.254.214.140/resources/img/fond.svg);
    background-size: cover;
    padding-bottom: 40px;
}

.error {
    background-image: url(http://51.254.214.140/resources/img/fond.svg);
    background-size: cover;
    height: 89vh;
}

.error h1 {
    padding-top: 15%;
    text-align: center;
}

.error h3 {
    text-align: center;
}

.card {
    z-index: 1;
}


/* Navigation */

header nav img {
    float:left; 
    width: 100px;
    height: 100px;
    margin: 0 20px;
}

/* Navigation Collante */

#navigationCollante .menu {
    position: fixed;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  #000;
    transition: 300ms;
    z-index: 99;
    border-bottom:1px solid #ca38fe;
}

#navigationCollante .menu a {
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #fefefe;
    font-size: 17px;
    font-family: Raleway;
    font-weight: 700;
    transition: 300ms;
}

#navigationCollante .menu a:hover {
    color: #ca38fe;
}

#navigationCollante .logo {
    position: fixed;
    height: 150px;
    display: flex;
    align-items: center;
    background-color:  #000;
    transition: 300ms;
    z-index: 100;
    border-bottom:1px solid #ca38fe;
}

#navigationCollante .logo a {
    width: 350px;
    text-decoration: none;
    color: #fefefe;
    font-size: 35px;
    font-family: Raleway;
    font-weight: 5;
    transition: 300ms;
    display: inline-flex;

}

#navigationCollante .logo a:hover {
    color: #ca38fe;
}

#navigationCollante .logo a p {
    margin-top: 20px;
}


#navigationCollante .user {
    color: black;
    position: fixed;
    margin-top: 25px;
    margin-left: 85%;
    margin-right: auto;
    align-items: center;
    display: inline-flex;
    z-index: 500;
}

#navigationCollante .login {
    color: black;
    position: fixed;
    margin-top: 50px;
    margin-left: 85%;
    align-items: center;
    display: inline-flex;
    z-index: 1041;
}

/* DropDown Button */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/* Navigation Mobile */

.navigationMobile {
    position: fixed;
    top: 0;
    left: -350px;
    z-index: 10;
    width: 350px;
    height: 100vh;
    background-color: #fefefe;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 300ms;
}

.navigationMobile .navigationTitre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.navigationMobile .navigationTitreTextes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigationMobile img {
    width: 100px;
    height: 100px;
}


.agregat {
    width: auto;
    height: auto;
    padding: 5px;
    border: solid 2px #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -50px;
    top: 20px;
    transition: 300ms;
}

.agregat .agregatLigne {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 2px 0;
    transition: 300ms;
}

.navigationMobile .navigationLiens {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navigationMobile .navigationLiens a {
    width: 250px;
    margin: 0;
    padding: 25px 0;
    border-top: solid 2px #ccc;
    text-decoration: none;
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.user img {
    border: 1px solid #ca38fe;
    border-radius: 3px;
}

/* Accueil */

.accueil {
    padding-top: 130px;
    padding-bottom: 145px;
}

.un img:hover {
    content: url('../img/Jeuxhover.svg');
    text-decoration: none;
}

.deux img:hover {
    content: url('../img/classementshover.svg');
    text-decoration: none;
}

.accueil a {
    margin-top: 130px;
    margin-bottom: 145px;
}

.accueil a img {
    height: 512px;
    width: 512px;
    text-align: center;
}

.listeJeux {
    padding-top: 200px;
}

.listeJeux h1 {
    color: black;
}

/* Profil */

.infoPerso {
    padding-top: 200px;
    align-content: center;
}

.nomPrenomPseudo {
    padding-left: 50px;
    margin-top: auto;
}

.image  img {
    border: 2px solid #ca38fe;
    border-radius: 5px;
}

/* Footer */

.footer {
    width: 100%;
    height: 97px;
    background-color: #000;
    padding-top: 40px;
    border-top:1px solid #ca38fe;
}

.footer p {
    margin: 0;
    font-size: 18px;
    color: #fefefe;
    text-align: center;
    vertical-align: middle;
}

.footerError {
    height: 103px;
    width: 100%;
    background-color: #000;
    padding-top: 40px;
}

.footerError p {
    margin: 0;
    font-size: 18px;
    color: #fefefe;
    text-align: center;
    vertical-align: middle;
}

/* PROFIL */

.classementJeuProfil {
    color: black;
    padding-top: 40px;
    text-align: center;
    margin-left: 550px;
}

.aucunePartie {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 180px;
}

#modalProfil {
    position: absolute;
    margin-left: 30%;
    z-index: 5;
}

#modalProfilMessage {
    position: absolute;
    margin-left: 30%;
    z-index: 5;
}

/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ca38fe;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ca38fe;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Messages */

.messageMenu {
    padding-top: 200px;
}

.messages {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    color: black;
}

.messages::after {
    content: "";
    clear: both;
    display: table;
}

.messages img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.messages span {
    font-size: 20px;
    margin-right: 15px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.modal-content {
    color: black;
}

.contentGame {
    position: relative;
    min-height: 91%;
    width: 100%;
    background-image: url(http://51.254.214.140/resources/img/fondArcade.svg);
    background-size: cover;
    z-index: -1;
}


canvas{
    display:block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerGame {
    width: 100%;
    height: 97px;
    background-color: #000;
    border-top:1px solid #ca38fe;
}

.footerGame p {
    margin: 0;
    font-size: 18px;
    color: #fefefe;
    text-align: center;
    vertical-align: middle;
}

.filterGame {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.filterGame .card {
    border:2px solid #ca38fe;
}

.filterGame img {
    border-bottom:2px solid #ca38fe;
}

.contentClassement {
    position: relative;
    min-height: 91%;
    background-image: url(http://51.254.214.140/resources/img/fond.svg);
    background-size: cover;
    padding-bottom: 40px;
}

.classement {
    padding-top: 150px;
    color: white;
    text-align: center;
    padding-left: 550px;
}

.classement a {
    color: white;
    text-decoration: none;
}

.classement a:hover {
    color: #ca38fe;
}

.classementCard {
    background-color: rgba(68, 148, 190, 0.2);
    margin-top: 50px;
}

.classement .card {
    border:2px solid #ca38fe;
}

.classement img {
    border-bottom:2px solid #ca38fe;
}

.classementJeuProfilCard {
    background-color: rgba(68, 148, 190, 0.2);
    margin-top: 50px;
    color: white;
}

.classementJeuProfilCard {
    background-color: rgba(68, 148, 190, 0.2);
    margin-top: 50px;
    border:2px solid #ca38fe;
}

.classementJeuProfilCard img {
    border-bottom:2px solid #ca38fe;
}

@media (max-width: 500px) {
    .messages {
        text-align: center;
    }
    .messages img {
        margin: auto;
        float: none;
        display: block;
    }
}

.btn-purple {
    background-color: #ca38fe;
    color: white;
}

@media screen and (min-width: 1140px) {

    /* Header */

    .wrapper {
        width: 20%;
        margin: 0 auto;
        padding-top: 200px;
    }

}

@media screen and (max-width: 1140px) {

    /* Header */

    .wrapper {
        width: 300px;
        margin: 0 auto;
        padding-top: 40px;
    }

    #navigationCollante  {
        display: none;
    }

    .navigationMobile {
        display: flex;
    }

}